# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de log
*.log

# Ignorar archivos de entorno
.env

# Ignorar carpetas de caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar carpetas de build
dist/
build/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
