.ColorChoiceWindow {
  background-color: var(--window-color);
  height: 24vw;
  width: 19vw;
  margin-left: 8vw;
  margin-top: 3.25vw;
  box-shadow: 0 0 0.47vw rgba(20, 20, 20, 0.3);
  border-radius: 5%;
}

.color-button {
  margin-top: 5.21vw;
}

.color-properties {
  margin-top: 4.16vw;
  margin-left: 2.08vw;
  font-size: 0.83vw;
}

.text-properties {
  margin-top: 3.125vw;
  text-shadow: 0.104vw 0.104vw 0.26vw rgba(0, 0, 0, 0.4);
  font-size: 1.1vw;
  user-select: none;
}

.social-media {
  margin-top: -2.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin-left: 13vw;
  color: var(--text-color);
}

.random-colors {
  margin-top: 2vw;
  display: flex;
  margin-left: 2.08vw;
  margin-right: 1vw;
}

.random-colors button {
  font-size: 0.73vw;
  font-weight: 400;
  background-clip: padding-box;
}

@media (max-width: 1200px) and (min-width: 701px) {
  .ColorChoiceWindow {
    height: 37vw;
    width: 28vw;
    margin-left: 0;
    margin-top: 4.9vw;
    box-shadow: 0 0 0.47vw rgba(20, 20, 20, 0.3);
    border-radius: 5%;
  }
  .text-properties {
    font-size: 1.5vw;
    margin-top: 5vw;
  }

  .social-media {
    margin-left: 19vw;
    margin-top: -4vw;
  }
}

@media (max-width: 700px) {
  .ColorChoiceWindow {
    height: 70vw;
    width: 70vw;
    box-shadow: 2px 1px 1.5px rgba(20, 20, 20, 0.3);
    border-radius: 5%;
    margin: 0;
  }
  .color-button {
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .color-properties {
    margin-top: 4vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    text-align: center;
  }

  .text-properties {
    margin-top: 4vw;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0.104px 0.104px 0.26px rgba(0, 0, 0, 0.4);
    font-size: 2em;
    text-align: center;
  }

  .social-media {
    display: flex;
    justify-content: right;
    gap: 1vw;
    margin-left: auto;
    margin-right: auto;
  }
  .random-colors {
    font-size: 1.5vw;
    margin-top: 5vw;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
    text-align: center;
  }
}

@media (max-width: 1200px) and (min-width: 701px) {
  .random-colors button {
    font-size: 1.5vw;
    margin-top: 3vw;
  }
}
