.text-input {
  padding: 0.3125vw 0.625vw;
  font-size: 0.9vw;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.05vw solid #ced4da;
  appearance: none;
  border-radius: 0.2vw;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  :focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

.colorChoice {
  display: flex;
  align-items: center;
}

.color-icon {
  width: 1.875vw;
  height: 1.875vw;
  cursor: pointer;
}

.hidden-color-input {
  top: 0; /* Ajusta según la posición de la imagen */
  left: 0;
  opacity: 0;
  width: 1.05vw;
  height: 1.05vw;
  pointer-events: none; /* Ignora clics en el input para que no interfiera */
}

@media (max-width: 700px) {
  
  .text-input {
    font-size: 1.1em;
    margin-left: 15vw;
  }

  .color-icon {
    width: 7vw;
    height: 7vw;
  }
}

@media (max-width: 1200px) and (min-width: 700px) {

  .text-input{
    font-size: 1.6vw;
  }
  p{
    font-size: 1.5vw;
  }
  .color-icon {
    width: 3vw;
    height: 3vw;
  }
  
}
