p{
    text-align: justify;
  
}

.title {
    font-size: 3.6vw; 
    margin-bottom: 2vw;
    margin-top: 3vw;
}
  
.divider {
    width: 100%;
    height: 0.10vw; 
    background: white;
    margin: 0.52vw 0 1.04vw;
    margin-bottom: 3vw; 
}
  
.code {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.52vw; 
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    margin-bottom: 4vw; 
    font-size: 1.5vw;
}
  
.quote {
    font-style: italic;
    margin-bottom: 3vw;
    font-size: 1.5vw;

}
  
.author {
    font-weight: bold;
    margin-top: 0.52vw; 
    margin-bottom: 5vw;    
}
  
.description {
    font-size: 1.5vw; 
    line-height: 1.6;
    margin-bottom: 1.04vw;
    text-align: justify;
    margin-bottom: 5vw;
}
  
.progress {
    height: 0.31vw; 
    border-radius: 3px;
    position: relative;
    margin-bottom: 1.04vw;
    font-size: 1.5vw; 

}
  
.label {
    margin-bottom: 0.26vw; 
    font-weight: bold;
    font-size: 1.5vw; 
    display: block;

}
  
.input {
    width: 97%;
    padding: 0.52vw; 
    border: none;
    border-radius: 8px;
    margin-bottom: 0.52vw;
    font-size: 1.5vw; 

}
  
.radioLabel {
    margin-bottom: 0.52vw;
    font-size: 1.5vw; 

}
  
.radioGroup {
    display: flex;
    gap: 0.52vw; 
    margin-bottom: 1.04vw;
    font-size: 1.5vw; 

}
  
.buttonContainer {
    text-align: center;
    
}
  
.button {
    display: inline-block;
    padding: 0.52vw 1.04vw; 
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw; 

}
.previewBox{
    padding: 1vw; 
    border-radius: 1.56vw;
    height: 70vw; 
}

.Preview{
    justify-items: right;
}

@media (max-width: 1200px) and (min-width: 700px) {
    .Preview{
        margin-left: 0;
        margin-bottom: 2vw;
    }
}