.PointsWindow {
  background-color: var(--window-color);
  height: 24vw;
  width: 18.021vw;
  margin-left: 6.5vw;
  margin-top: 3.15vw;
  box-shadow: 0 0 0.469vw rgba(20, 20, 20, 0.3);
  border-radius: 5%;
  user-select: none;
}

@media (max-width: 700px) {
  .PointsWindow {
    height: 70vw;
    width: 70vw;
    box-shadow: 0 0 0.47vw rgba(20, 20, 20, 0.3);
    border-radius: 5%;
  }
}

@media (max-width: 1200px) and (min-width: 701px) {
  .PointsWindow {
    height: 37vw;
    width: 28vw;
    margin-left: 6.5vw;
    margin-top: 4.9vw;
    box-shadow: 0 0 0.469vw rgba(20, 20, 20, 0.3);
    border-radius: 5%;
    
  }
}
