.p-text {
  margin-top: 3.125vw;
}

.points-properties {
  margin-top: 3.646vw;
  font-size: 2.604vw;
  margin-left: 3.125vw;
  text-shadow: 0.104vw 0.104vw 0.26vw rgba(0, 0, 0, 0.6);
}

.points {
  font-size: 4.688vw;
  margin-left: 4.688vw;
  text-shadow: 0.104vw 0.104vw 0.26vw rgba(0, 0, 0, 0.6);
  margin-top: -1.563vw;
}

.Points {
  margin-left: 1.563vw;
  margin-right: 1.563vw;
}

.progress-bar-cover {
  box-shadow: 0.104vw 0.104vw 0.26vw rgba(0, 0, 0, 0.6);
  border-radius: 3.125vw;
  display: flex;
  margin-top: -1.563vw;
  align-items: center;
}

.progress-bar {
  border-radius: 3.125vw;
  margin: 2%;
  height: "1.05vw";
}

.standard-results {
  margin-top: 1vw;
  text-align: left;
}

.contrast-level {
  font-size: 1.35vw;
  color: var(--text-color);
  text-shadow: 0.104vw 0.104vw 0.26vw rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-align: center;
}

@media (max-width: 700px) {
  .Points {
    width: 70vw;
    height: 70vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .points-properties {
    font-size: 6vw;
    text-align: center;
    text-shadow: 0.104vw 0.104vw 0.26vw rgba(0, 0, 0, 0.6);
    margin: auto;
  }

  .points {
    text-align: center;
    font-size: 14vw;
    text-shadow: 0.104vw 0.104vw 0.26vw rgba(0, 0, 0, 0.6);
    margin: auto;
  }

  .progress-bar-cover {
    box-shadow: 0.104vw 0.104vw 0.26vw rgba(0, 0, 0, 0.6);
    border-radius: 3.125vw;
    align-items: left;
    justify-content: left;
    margin: auto;
  }

  .progress-bar {
    border-radius: 3.125vw;
  }

  .standard-results {
    margin-top: 2.5vw;
    text-align: center;
    margin: auto;
  }

  .contrast-level {
    font-size: 5vw;
    text-shadow: 0.104vw 0.104vw 0.26vw rgba(0, 0, 0, 0.4);
    font-weight: bold;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 1200px) and (min-width: 701px) {
  .points-properties {
    font-size: 4vw;
    margin-top: 7vw;
    margin-left: 5.5vw;
  }

  .points {
    font-size: 6vw;
    margin-left: 8vw;
  }

  .contrast-level {
    font-size: 2vw;
  }
}
