.PointsWindow {
  background-color: var(--window-color);
  height: 24vw;
  width: 18.021vw;
  margin-left: 6.5vw;
  margin-top: 3.15vw;
  box-shadow: 0 0 0.469vw rgba(20, 20, 20, 0.3);
  border-radius: 5%;
}

@media (max-width: 700px) {
  .PointsWindow {
    
    height: 80vw;
    width: 80vw;
    margin-left: 5vw;
    margin-top: 20vw;
    box-shadow: 0 0 0.47vw rgba(20, 20, 20, 0.3);
    border-radius: 5%;
    flex-direction: column;
  }
}

@media (max-width: 1200px) and (min-width: 700px) {
  .PointsWindow {
    
    height: 40vw;
    width: 28vw;
    margin-left: 6.5vw;
    margin-top: 4.9vw;
    box-shadow: 0 0 0.469vw rgba(20, 20, 20, 0.3);
    border-radius: 5%;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }


}