.Preview{
    background-color: #F9F9F9;
    height: 40vw; 
    width: 31.25vw; 
    margin-left: 5.21vw; 
    margin-top: 2.08vw; 
    box-shadow: 0 0 9px rgba(20, 20, 20, 0.3);
    border-radius: 5%;
    padding: 1.04vw; 
    color: #F9F9F9;
    
}
.title {
    font-size: 2.60vw; 
    margin-bottom: 0.52vw;
}
  
.divider {
    width: 100%;
    height: 0.10vw; 
    background: white;
    margin: 0.52vw 0 1.04vw; 
}
  
.code {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.52vw; 
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    margin-bottom: 1.04vw; 
    font-size: 0.8vw;
}
  
.quote {
    font-style: italic;
    margin-bottom: 1.04vw;
    font-size: 0.8vw;

}
  
.author {
    font-weight: bold;
    margin-top: 0.52vw; 
}
  
.description {
    font-size: 0.73vw; 
    line-height: 1.6;
    margin-bottom: 1.04vw; 
}
  
.progress {
    height: 0.31vw; 
    border-radius: 3px;
    position: relative;
    margin-bottom: 1.04vw;
    font-size: 0.73vw; 

}
  
.label {
    margin-bottom: 0.26vw; 
    font-weight: bold;
    font-size: 0.73vw; 
    display: block;

}
  
.input {
    width: 97%;
    padding: 0.52vw; 
    border: none;
    border-radius: 8px;
    margin-bottom: 0.52vw;
    font-size: 0.73vw; 

}
  
.radioLabel {
    margin-bottom: 0.52vw;
    font-size: 0.73vw; 

}
  
.radioGroup {
    display: flex;
    gap: 0.52vw; 
    margin-bottom: 1.04vw;
    font-size: 0.73vw; 

}
  
.buttonContainer {
    text-align: center;
    
}
  
.button {
    display: inline-block;
    padding: 0.52vw 1.04vw; 
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.73vw; 

}
.previewBox{
    padding: 1vw; 
    border-radius: 1.56vw; 
}

.Preview{
    justify-items: right;
}

.icons{
    margin-right: 0.8vw;
    

}

@media (max-width: 1200px) and (min-width: 700px) {
    .Preview{
        margin-left: 0;
        margin-bottom: 2vw;
        height: 60vw;
        width: 40vw;
    }
    .title{
        font-size: 3vw;
        margin-top: 0.5vw;
    }

    p{
        font-size: 1.3vw;;
    }

    .quote{
        font-size: 1.3vw;
    }
    .description{
        font-size: 1.3vw;
        margin-top: 2.5vw;
    }

    .progress{
        font-size: 1.3vw;
        margin-bottom: 2vw;
    }

    .label{
        font-size: 1.3vw;
    }

    .radioLabel{
        font-size: 1.3vw;
    }

    .radioGroup{
        font-size: 1.3vw;
    }

    .button{
        font-size: 1.3vw;
    }
}

@media (max-width: 700px){
    .Preview{
        display: none;
    }
    
 }