.checkboxWrapper {
    display: inline-flex;
    align-items: center;
}

.checkbox {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 3.75vw; 
    border: none;
    flex-shrink: 0;
    height: 1.04vw; 
    margin: 0;
    position: relative;
    width: 1.56vw; 
    cursor: pointer;
    transition: all 100ms ease-out;
}

.checkbox::before {
    content: "";
    position: absolute;
    bottom: -0.31vw; 
    left: -0.31vw; 
    right: -0.31vw; 
    top: -0.31vw; 
}

.checkbox::after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    height: 0.73vw; 
    left: 0.16vw; 
    position: absolute;
    top: 0.16vw;
    width: 0.73vw; 
    transition: all 200ms ease-out;
}

.checkbox:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.checkbox:checked {
    background-color: #6e79d6;
}

.checkbox:checked::after {
    left: 0.68vw; 
}

.checkbox:checked:hover {
    background-color: #535db3;
}

.checkboxWrapper{
    margin-top: 1.04vw; 
    margin-right: 1.04vw; 
}
