.PointsWindow {
  background-color: #f9f9f9;
  height: 23.542vw;
  width: 18.021vw;
  margin-left: 7.083vw;
  margin-top: 5.365vw;
  box-shadow: 0 0 0.469vw rgba(20, 20, 20, 0.3);
  border-radius: 5%;
}


