.PointsWindow{
    background-color: #F9F9F9;
    height: 452px;
    width: 346px;
    margin-left: 136px;
    margin-top: 103px;
    box-shadow: 0 0 9px rgba(20, 20, 20, 0.3);
    border-radius: 5%;
}

