.Preview{
    background-color: #F9F9F9;
    height: 36.46vw; 
    width: 31.25vw; 
    margin-left: 5.21vw; 
    margin-top: 2.08vw; 
    box-shadow: 0 0 9px rgba(20, 20, 20, 0.3);
    border-radius: 5%;
    padding: 1.04vw; 
    color: #F9F9F9;
    height: 44.27vw; 
}
.title {
    font-size: 2.60vw; 
    margin-bottom: 0.52vw;
}
  
.divider {
    width: 100%;
    height: 0.10vw; 
    background: white;
    margin: 0.52vw 0 1.04vw; 
}
  
.code {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.52vw; 
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    margin-bottom: 1.04vw; 
}
  
.quote {
    font-style: italic;
    margin-bottom: 1.04vw; 
}
  
.author {
    font-weight: bold;
    margin-top: 0.52vw; 
}
  
.description {
    font-size: 0.73vw; 
    line-height: 1.6;
    margin-bottom: 1.04vw; 
}
  
.progress {
    background-color: white;
    height: 0.31vw; 
    border-radius: 3px;
    position: relative;
    margin-bottom: 1.04vw;
}
  
.label {
    margin-bottom: 0.26vw; 
    font-weight: bold;
    display: block;
}
  
.input {
    width: 97%;
    padding: 0.52vw; 
    border: none;
    border-radius: 8px;
    margin-bottom: 0.52vw;
}
  
.radioLabel {
    margin-bottom: 0.52vw;
}
  
.radioGroup {
    display: flex;
    gap: 0.52vw; 
    margin-bottom: 1.04vw;
}
  
.buttonContainer {
    text-align: center;
}
  
.button {
    display: inline-block;
    padding: 0.52vw 1.04vw; 
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}
.previewBox{
    padding: 1.56vw; 
    border-radius: 1.56vw; 
}

.Preview{
    justify-items: right;
}
