.sidebar {
  width: 15vh;
  background-color: #313131;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  height: 100vh;
}

.logo {
  margin-bottom: 20px;
}

.nav-button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-button:hover {
  background-color: #797777;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.nav-button:active {
  background-color: #666;
}

@media (max-width: 768px) {
  .sidebar {
    width: 20%;
  }
  .nav-button {
    padding: 12px;
    font-size: 14px;
  }
}
