.checkboxWrapper {
    display: inline-flex;
    align-items: center;
}

.checkbox {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
    cursor: pointer;
    transition: all 100ms ease-out;
}

.checkbox::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: -6px;
    right: -6px;
    top: -6px;
}

.checkbox::after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
    transition: all 200ms ease-out;
}

.checkbox:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.checkbox:checked {
    background-color: #6e79d6;
}

.checkbox:checked::after {
    left: 13px;
}

.checkbox:checked:hover {
    background-color: #535db3;
}

.checkboxWrapper{
    margin-top: 20px;
    margin-right: 20px;
}



