.checkboxWrapper {
    display: inline-flex;
    align-items: center;
     /* Duplicado */
}

.checkbox {
    appearance: none;
    background-color:#fe9501;
    border-radius: 7.5vw; /* Duplicado */
    border: none;
    flex-shrink: 0;
    height: 2.08vw; /* Duplicado */
    margin: 0;
    position: relative;
    width: 3.12vw; /* Duplicado */
    cursor: pointer;
    transition: all 100ms ease-out;
}

.checkbox::before {
    content: "";
    position: absolute;
    bottom: -0.62vw; /* Duplicado */
    left: -0.62vw; /* Duplicado */
    right: -0.62vw; /* Duplicado */
    top: -0.62vw; /* Duplicado */
}

.checkbox::after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    height: 1.46vw; /* Duplicado */
    left: 0.32vw; /* Duplicado */
    position: absolute;
    top: 0.32vw; /* Duplicado */
    width: 1.46vw; /* Duplicado */
    transition: all 200ms ease-out;
}

.checkbox:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.checkbox:checked {
    background-color: #6e79d6;
}

.checkbox:checked::after {
    left: 1.36vw; /* Duplicado */
}

.checkbox:checked:hover {
    background-color: #535db3;
}

@media (max-width: 1200px) and (min-width: 700px) {

    
}
