.LogoIcon {
  transform: scale(2.5);
  margin-top: 1.82vw;
  
  margin-left: 0vw;
}

@media (max-width: 1200px) and (min-width: 700px) {
  .LogoIcon {
    transform: scale(2.7);
    margin-top: 0;
    margin-left: 4vw;
  }
}

@media (max-width: 700px) {
  .LogoIcon {
    width: 4vw; 
    height: 4vw; 
  }
}