.LogoIcon {
  width: 5vw;
  margin-top: 1.82vw;
  
  margin-left: 0vw;
}

@media (max-width: 1200px) and (min-width: 700px) {
  .LogoIcon {
    width: 4vw;
    margin-top: 0;
    margin-left: 4vw;
  }
}

@media (max-width: 700px) {
  .LogoIcon {
    width: 8vw; 
    margin-top: 0;
  }
}