.SettingsIcon{
    transform: scale(1.5);
    margin-bottom: 0;
    margin-left: 0vw;
}   

@media (max-width: 700px) {
  .SettingsIcon {
    width: 3vw; 
    height: 3vw; 
  }
  .alertContainer{
    font-size: 3vw;
    text-align: center;
  }
}

@media (max-width: 1200px) and (min-width: 701px) {

    .SettingsIcon {
        margin-top: 0.5vw;
    }
    
}