* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #b6b6b6;
  color: #333;
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
}

.app-container {
  display: grid;
  grid-template-columns: 10vw 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar title"
    "sidebar main-content";
  height: 100vh;
  width: 100vw;
}

.nav-component {
  grid-area: sidebar;
  background-color: #313131;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
  position: relative;
}

.title-component {
  grid-area: title;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 60px;
}

.main-content {
  grid-area: main-content;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.color-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 50%;
  margin-top: 5%;
  margin-left: 70px;
}

.preview-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 8px;
  padding: 10px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .app-container {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    grid-template-rows: auto auto auto; /* Ajusta las filas */
    grid-template-areas:
      "title"
      "sidebar"
      "main-content";
  }

  .nav-component {
    flex-direction: row; /* Ajusta el sidebar a un diseño horizontal */
    justify-content: space-around;
    height: auto;
    padding: 10px;
  }

  .title-component {
    margin: 10px auto;
    text-align: center;
  }

  .main-content {
    flex-direction: column; /* Cambia a columna para pantallas pequeñas */
    padding: 10px;
  }

  .color-section {
    flex-direction: column; /* Apila los elementos verticalmente */
    margin: 0;
    width: 100%;
  }

  .preview-component {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .nav-component {
    font-size: 12px;
    padding: 5px;
  }

  .title-component {
    font-size: 18px;
  }

  .main-content {
    gap: 10px;
  }

  .preview-component {
    padding: 5px;
  }
}
