* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #b6b6b6;
  color: #333;
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
}

.app-container {
  display: grid;
  grid-template-columns: 10vw 1fr; /* Barra lateral + contenido */
  grid-template-rows: auto 1fr; /* Título + contenido */
  grid-template-areas:
    "sidebar title"
    "sidebar main-content"; /* Layout */
  height: 100vh;
  width: 100vw;
}

.title-component {
  text-align: center;
  z-index: 5;
  font-weight: bold;
  margin-left: 15vw;
  margin-top: 2vw;
}

.color-section {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas para los componentes de color */
  margin-top: 12vw;
  padding: 20px;
}


.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  gap: 20px;
  padding: 20px;
}

.nav-component {
  width: 10vw;
  background-color: #313131;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

@media (max-width: 768px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "title"
      "main-content"; /* Redefinición para pantallas pequeñas */
  }

  .color-section {
    grid-template-columns: 1fr; /* En pantallas pequeñas, los componentes se apilan */
  }

  .content-component,
  .preview-component {
    max-width: 100%;
  }
}

