* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #b6b6b6;
  color: #333;
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
}

.app-container {
  display: grid;
  grid-template-columns: 10vw 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar title"
    "sidebar main-content";
  height: 100vh;
  width: 100vw;
}

.nav-component {
  grid-area: sidebar;
  background-color: #313131;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
  position: relative;
}

.title-component {
  grid-area: title;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 60px;   
}

.main-content {
  grid-area: main-content;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.color-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 50%;
  margin-top:5%;
  margin-left:70px;
  
}

.preview-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 8px;
  padding: 10px;
}
