.appContainer{
    display: flex;
    height: 100vh;
}

@media (max-width: 1200px) and (min-width: 700px) {
    .appContainer{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        align-items: center;
    }
    
}

