* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.app-container {
  display: flex;
  height: 100vh;
}


/* Contenido principal */
.main-content {
  display: flex;
  flex: 1;
  padding: 20px;
  justify-content: space-between;
}



/* Estilos Responsivos */
@media (max-width: 768px) {
  .sidebar {
    width: 20%; /* Aumenta el ancho en pantallas pequeñas */
  }

  .app-container {
    flex-direction: column; /* Cambia a una dirección de columna en pantallas pequeñas */
  }
}

.bottom-logo {
  margin-top: auto; /* Esto empuja el logo hacia el fondo del contenedor */
  margin-bottom: 20px; /* Espacio inferior */
  display: flex;
  justify-content: center; /* Centra el logo horizontalmente */
  width: 100%; /* Asegura que el logo ocupe el ancho completo */
}

.bottom-logo-img {
  height: 30px; /* Ajusta el tamaño según tus necesidades */
  pointer-events: none; /* Desactiva eventos del mouse sobre el logo */
}
