/* Estructura general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.app-container {
  display: flex;
  height: 100vh;
}

/* Barra lateral */
.sidebar {
  width: 5%;
  background-color: #313131;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  overflow: auto;
}

.logo {
  margin-bottom: 20px;
}

/* Estilo de los botones de navegación */
.nav-button , .nav-button-bottom {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-button:hover, .nav-button-bottom {
  background-color: #797777;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.nav-button:active , .nav-button-bottom {
  background-color: #666; /* Cambia el color cuando el botón está activo */
}


/* Contenido principal */
.main-content {
  display: flex;
  flex: 1;
  padding: 20px;
  justify-content: space-between;
}

/* Sección de entrada de color */
.color-input-section {
  display: flex;
  flex-direction: column;
}

.color-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.accept-button {
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.accept-button:hover {
  background-color: #1d8d35;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .sidebar {
    width: 20%; /* Aumenta el ancho en pantallas pequeñas */
  }

  .app-container {
    flex-direction: column; /* Cambia a una dirección de columna en pantallas pequeñas */
  }
}

.bottom-logo {
  margin-top: auto; /* Esto empuja el logo hacia el fondo del contenedor */
  margin-bottom: 20px; /* Espacio inferior */
  display: flex;
  justify-content: center; /* Centra el logo horizontalmente */
  width: 100%; /* Asegura que el logo ocupe el ancho completo */
}

.bottom-logo-img {
  height: 30px; /* Ajusta el tamaño según tus necesidades */
  pointer-events: none; /* Desactiva eventos del mouse sobre el logo */
}
